
html {
    height: 100%;

    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}


body {
    margin: 0;
    padding: 0;
    background-color: #111;
    height: 100%;
    width: 100%;

    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;

    color: #fff;
    overflow: hidden;
}

#fontTest {
    font-family: "Dosis", Arial, Helvetica, sans;
    font-weight: 200;
    font-size: 56px;

    position: absolute;
    left: 74%;
    top: 36%;

    width: 200px;
    height: 100px;
}