
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #111;
    color: #fff;
    overflow: hidden;
}

canvas {
    display: block;
}

#fontTest {
    font-family: "Dosis", Arial, Helvetica, sans;
    font-weight: 200;
    font-size: 56px;

    position: absolute;
    left: 74%;
    top: 36%;

    width: 200px;
    height: 100px;
}