<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".fap" mimeType="text/xml" />
            <mimeMap fileExtension=".fayde" mimeType="text/xml" />
        </staticContent>
        <defaultDocument enabled="true">
         <files>
            <add value="default.html" />
         </files>
      </defaultDocument>
    </system.webServer>
</configuration>
