[Oo]bj
[Bb]in
*.suo
*.user
*.dll
*.xap
.idea
node_modules
bower_components/
lib/
src/_Version.ts
test/lib/
test/.build/
test/**/*.js
test/**/*.js.map
test/runner.js
test/runner.js.map
testsite/lib/
testsite/.build/
stress/.build/
